{% if session.admin %}
{% if session.username== creator %}
<form action="/editt" method="POST">
    {{topic}}
    Edit thread name:
    <textarea name="content" rows="1" cols="40"></textarea>
    <input type="submit" value="Edit">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="type" value="threadname">
</form>
<form action="/delete" method="POST">
    <input type="submit" value="Delete thread">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="type" value="secretthread">
</form>
{% else %}

{{topic}}
{% endif %}
<hr>
Number of messages: {{ count }}
<hr>
<form action="/messent" method="POST">
    Send new message:
    <textarea name="message" rows="1" cols="40"></textarea>
    <input type="submit" value="Send">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="user" value="{{ session.username }}">
    <input type="hidden" name="type" value="secretmessage">
    </form>
    
<hr>
{% for message in messages %}
{{ message[3] }}
<br>
by <a href="/user/{{message[4]}}">{{ message[1] }}</a> at {{message[2].strftime("%H:%M %d-%m-%Y")}} 
{% if session.username== message[1] %}
<form action="/editt" method="POST">
    Edit message:
    <textarea name="content" rows="1" cols="40"></textarea>
    <input type="submit" value="Edit">
    <input type="hidden" name="id" value="{{message[0]}}">
    <input type="hidden" name="type" value="message">
</form>
<form action="/delete" method="POST">
    <input type="submit" value="Delete message">
    <input type="hidden" name="id" value="{{message[0]}}">
    <input type="hidden" name="type" value="secretmessage">
    
</form>
{% endif %}
<hr>
{% endfor %}
<a href="/main">Back to main page</a>
<hr><a href="/logout">Log out</a>
{% endif %}
